/* reset all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */

.popBtn1 {
  margin: 3rem;
}

.btn:focus,
#price:focus,
button:focus {
  box-shadow: none;
  outline: none;
}

.btn-outline-success:focus {
  background-color: #28a745;
  color: #fff;
}

.btn-outline-danger:focus {
  background-color: #dc3545;
  color: white;
}

.btn-outline-info:focus {
  background-color: #17a2bb;
  color: white;
}

.btn-outline-primary:focus {
  background-color: #007bff;
  color: #fff;
}

.fa-arrow-left {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.fa-arrow-left:hover {
  color: rgba(0, 0, 0, 0.7);
}

#paidEvent .align-self-center {
  border: none;
  background-color: #fff;
  margin: 0 0 12px 10px;
  cursor: pointer;
}

/* Event type */

#eventType,
#paidEvent,
#priceAvail,
#multTckt {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#eventType .modal-content,
#paidEvent .modal-content,
#priceAvail .modal-content,
#multTckt .modal-content {
  width: 500px;
  margin: 10% auto;
  animation-name: rolling;
  animation-duration: 0.2s;
}

/* Keyframes */

@keyframes rolling {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
